# Compiled Object files
*.slo
*.lo
*.o
*.dv

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Project-specific binaries
/bin/*
/src/*.d
/obj/*

#documentation
/doc/*

#gtp and sgf files
*.gtp
*.sgf

#Project and eclipse files
.cproject
.project
.settings

#log files
*.log

#bash script files
*.sh